@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-tuya-gray text-tuya-black antialiased;
    }

    h1 {
        @apply text-2xl font-semibold;
    }

    h2 {
        @apply text-xl font-semibold;
    }

    h3 {
        @apply text-lg font-medium;
    }
}